:root {
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflover: #E7E9FC;
    --cloud: #F4F4FD;
}
body {
    background-color: #FFFFFF;
    color: var(--slate);
    font-family: "Roboto", sans-serif;
} 
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul{
    margin: 0;
    padding-left: 0;
}
button{
    cursor: pointer;
}
img {
    display: block;
}
.list {
    list-style: none;
}
.lin {
    text-decoration: none;
}
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
}
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 
.header-container {
    display: flex;
    align-items: center;
}
.flex-sup {
    display: flex;
    gap: 24px;
}
/* Site nav */
.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid var(--cornflover);

    padding-top: 24px;
    padding-bottom: 24px;
}
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);

    margin-right: 76px;
}
.header-logo-part-two {
    color: var(--navyblue);
}
.link, 
.link:hover,
.link:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}
.header-link,
.header-contact {
    display: flex;
    gap: 40px;
}
.header-nav {
    display: flex;
    margin-right: auto;
}
.link:active {
    color: var(--iris);
}
.cont-mail,
.cont-tel{
    color: var(--slate)
}
.cont-mail:hover,
.cont-mail:focus,
.cont-tel:focus,
.cont-tel:hover {
    color: var(--iris)
}

/* Main Section Hero */

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    margin: 0 auto 48px;
    max-width: 507px;
}
.hero {
    background: var(--navyblue);

    padding-top: 188px;
    padding-bottom: 204px;
    text-align: center;
}
.hero-button,
.hero-button:hover,
.hero-button:focus {
    background: var(--iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-family: inherit;

    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    width: 169px;
    height: 56px;
}
.hero-button:active {
    background-color: #404BBF;
}


/* Main Section 2 */

.section {
    margin-top: 120px;
    margin-bottom: 120px;
}
.section-subtitle {
    color: var(--navyblue);

    margin-bottom: 8px;
}

/* Main Section 3 */

.galery {
    margin-bottom: 120px;
}
.galery-title {
    margin-bottom: 72px;
}

/* Main Section 4 */

.team {
    background-color: var(--cloud);

    padding-top: 120px;
    padding-bottom: 120px;
}
.card {
    width: 264px;
    height: 380px;
    left: 156px;
    top: 1780px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;

    padding-bottom: 32px;
}
.team-title {
    margin-bottom: 72px;
}
.team-person {
    color: var(--navyblue);
    margin-top: 32px;
}
.team-pos {
    margin-top: 8px;
}


/* Footer */

.bottom {
    background: var(--navyblue);

    padding-top: 100px;
    padding-bottom: 100px;
}
.bottom-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}
.bottom-sublogo {
    color: var(--cloud);
}
.bottom-text {
    color: var(--cornflover);

    margin-top: 16px;
    max-width: 264px;
}

/* Portfolio main */

.menu-button,
.menu-button:hover,
.menu-button:focus {
    background: var(--cloud);
    border: 1px solid var(--cornflover);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);

    height: 48px

}
.btn {
    padding-left: 24px;
    padding-right: 24px;
}
.button-style {
    justify-content: center;
    margin-bottom: 72px;
}
.menu-button:active {
    background: #404BBF;
    color: #FFFFFF;
}
.menu-title {
    color: var(--navyblue);

    margin-bottom: 8px;
    margin-top: 32px;
}
.menu {
    padding-top: 96px;
    padding-bottom: 120px;
}
.p-card {
    width: 360px;
    height: 420px;
    background: #FFFFFF;
}
.menu-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.menu-content {
    padding-left: 16px;
    border: 1px solid #E7E9FC;
    border-top-color: #FFFFFF;
    padding-bottom: 32px;
}